.navBar{
display: flex;
justify-content: center;
margin-top: 20px;
margin-bottom: 30px
 

}

.navBar>span{
	margin-top: 10px;
  text-transform:uppercase;
  letter-spacing: 0.5px;
  font-weight: bold;
  
  color: grey;

}

#load{
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.form-bar{
	
  width: 80vw;
  
  display: flex;
  justify-content: space-around;

}

#searchbox{
  width: 800px;
}

.sign-out-button{
  display: flex;
  justify-content: flex-end;
  margin: 0 20px;
  cursor: pointer;
}



.sign-out-button .sign-out{
  color: grey;
  text-decoration: none;
  margin: 20px;
  font-weight: bold;
  transition: all ease 0.5s ;
}

.sign-out-button .sign-out:hover{
  color: black;
  transform: scale(1.1);
}

#btn{
  height: 40px;
  width: 70px;
  border-radius: 20px;
  outline: none;
  margin-left: 20px;
  color: white;
  background-color: grey ;
}

#btn:hover{
  background-color: #36434f;
  cursor: pointer;

}